{% extends 'base_admin.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}

    {% embed 'admin/title.html.twig' %}
        {% block sectiontitle %}
            <h2 class="mt-4">Stock Item</h2>
            <a href="{{ path('stock_index') }}" class="btn btn-secondary">back to list</a>
        {% endblock %}
    {% endembed %}

    <table class="table">
        <tbody>
            <tr>
                <th>Shop</th>
                <td><a href="{{ path('shop_show', {id: stock.shop.id}) }}">{{ stock.shop.name }}</a></td>
            </tr>
            <tr>
                <th>Product</th>
                <td><a href="{{ path('product_show', {id: stock.product.id}) }}">{{ stock.product.name }}</a></td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ stock.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ stock.stock }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex align-items-center">
        <a href="{{ path('stock_edit', {'id': stock.id}) }}" class="btn btn-success mr-2">edit</a>

        {{ include('admin/stock/_delete_form.html.twig') }}
    </div>

{% endblock %}
