{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <form action="{{ path('contactmail') }}" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your name" name="name">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your Email" name="email">
                </div>
                <div class="col-lg-12 text-center">

                    <select name="shop" id="shop">
<<<<<<< HEAD
                    {% for shop in shoprepo.findAll %}<option value="{{ shop.name }}">{{ shop.name }}</option>{% endfor %}
=======
                    {% for shop in shoprepo.findAll %}<option value="{{ shop.id }}">{{ shop.name }}</option>{% endfor %}
>>>>>>> 6b24d94675d899982de96e803e554f3605222cd1
                    </select>

                    <input type="text" placeholder="Subject" name="subject">
                    
                    <textarea placeholder="Your message" name="content"></textarea>
                    <button type="submit" class="site-btn">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->

{% endblock %}