{% extends 'base_admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    {% embed 'admin/title.html.twig' %}
        {% block sectiontitle %}
            <h2 class="mt-4">Category index</h2>
            <a href="{{ path('category_new') }}" class="btn btn-primary">Create new</a>
        {% endblock %}
    {% endembed %}

    {% embed 'admin/table.html.twig' %}
        {% block table %}
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                        <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>

        {% endblock %}
    {% endembed %}

{% endblock %}
